<div class="flex justify-between items-center p-6">
  <h1 class="text-2xl font-bold text-indigo-600"><a href="#"
      class="text-2xl font-bold text-indigo-600 hover:text-indigo-500 transition no-underline">SyncChat</a></h1>
  <nav class="flex items-center gap-4">
    <a href="#features" class="text-gray-700 font-medium hover:text-indigo-600 transition">Features</a>
    <a href="#about" class="text-gray-700 font-medium hover:text-indigo-600 transition">About</a>
    <a mat-stroked-button [routerLink]="['chat']"  target="_blank">Get Started</a>
  </nav>
</div>
