<div class="flex flex-col justify-between md:flex-row min-h-dvh overflow-hidden">
  <!-- Left Side: Lottie Animation -->
  <div class="relative w-full md:w-1/2 h-64 md:h-auto">
    <ng-lottie [options]="options" class="absolute inset-0 w-full h-full" style="pointer-events: none"></ng-lottie>
  </div>

  <!-- Right Side: Register Form -->
  <div class="flex flex-col justify-center w-full lg:max-w-150 p-8 bg-white">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-gray-700">Create a SyncChat Account</h2>

      <p class="mt-1 text-gray-500 text-sm">Join the conversation in just a few steps.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">
      <!-- Full Name -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" type="text">
        @if (form.controls.fullName.hasError('required')) {
        <mat-error>
          {{ errorMessages.fullName.required }}
        </mat-error>
        }
        @if (form.controls.fullName.hasError('minlength')) {
        <mat-error>
          {{ errorMessages.fullName.minlength }}
        </mat-error>
        }
      </mat-form-field>

      <!-- Username -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" type="text">
        @if (form.controls.userName.hasError('required')) {
        <mat-error>
          {{ errorMessages.userName.required }}
        </mat-error>
        }
        @if (form.controls.userName.hasError('minlength')) {
        <mat-error>
          {{ errorMessages.userName.minlength }}
        </mat-error>
        }
        @if (form.controls.userName.hasError('pattern')) {
        <mat-error>
          {{ errorMessages.userName.pattern }}
        </mat-error>
        }
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        @if (form.controls.email.hasError('required')) {
        <mat-error>
          {{ errorMessages.email.required }}
        </mat-error>
        }
        @if (form.controls.email.hasError('email')) {
        <mat-error>
          {{ errorMessages.email.email }}
        </mat-error>
        }
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
        <button mat-icon-button matSuffix (click)="showPassword = !showPassword" type="button">
          <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        @if (form.controls.password.hasError('required')) {
        <mat-error>
          {{ errorMessages.password.required }}
        </mat-error>
        }
        @if (form.controls.password.hasError('minlength')) {
        <mat-error>
          {{ errorMessages.password.minlength }}
        </mat-error>
        }
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'">
        <button mat-icon-button matSuffix (click)="showPassword = !showPassword" type="button">
          <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        @if (form.controls.confirmPassword.hasError('required')) {
        <mat-error>
          {{ errorMessages.confirmPassword.required }}
        </mat-error>
        }
        @if (form.controls.confirmPassword.hasError('passwordMismatch')) {
        <mat-error>
          {{ errorMessages.confirmPassword.passwordMismatch }}
        </mat-error>
        }
      </mat-form-field>

      <button mat-flat-button color="primary" class="w-full py-3 text-lg" [disabled]="isRegistering()">
        @if (isRegistering()) {
        <mat-icon><mat-spinner diameter="18"></mat-spinner></mat-icon>
        }
        <span>Register</span>
      </button>
    </form>

    <div class="relative flex items-center my-3">
      <div class="grow border-t border-gray-200"></div>
      <span class="mx-4 text-gray-400 text-sm">or</span>
      <div class="grow border-t border-gray-200"></div>
    </div>

    <div class="flex flex-col gap-2 h-6">
      <div class="w-full flex justify-center" [class.hidden]="isRegistering()">
        @if(isGoogleLoginInProgress()) {
        <button mat-flat-button color="warn" class="py-3 text-lg" disabled>
          <mat-icon><mat-spinner diameter="18"></mat-spinner></mat-icon>
          <span>Signing in with Google...</span>
        </button>
        }
        <button [class.hidden]="isGoogleLoginInProgress()" id="google-auth-btn"
          [disabled]="isRegistering()"></button>
      </div>
    </div>

    <div class="text-center text-sm text-gray-600 mt-4">
      Already have an account?
      <a routerLink="../login" class="text-blue-600 hover:underline">Login here</a>
    </div>
  </div>
</div>
