<div class="flex flex-col justify-between md:flex-row min-h-dvh overflow-hidden">
  <!-- Left Side: Lottie Animation -->
  <div class="relative w-full md:w-1/2 h-64 md:h-auto">
    <ng-lottie [options]="options" class="absolute inset-0 w-full h-full" style="pointer-events: none"></ng-lottie>
  </div>

  <!-- Right Side: Register Form -->
  <div class="flex flex-col justify-center w-full lg:max-w-150 p-8 bg-white">
    <div class="text-center mb-6"> <!-- Changed from mb-5 -->
      <h2 class="text-2xl font-bold text-gray-700">Create a SyncChat Account</h2>

      <p class="mt-1 text-gray-500 text-sm">Join the conversation in just a few steps.</p> <!-- Added subtitle -->
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">
      <!-- Full Name -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" type="text">
        <mat-error *ngIf="form.controls.fullName.hasError('required')">
          {{ errorMessages.fullName.required }}
        </mat-error>
        <mat-error *ngIf="form.controls.fullName.hasError('minlength')">
          {{ errorMessages.fullName.minlength }}
        </mat-error>
      </mat-form-field>

      <!-- Username -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" type="text">
        <mat-error *ngIf="form.controls.userName.hasError('required')">
          {{ errorMessages.userName.required }}
        </mat-error>
        <mat-error *ngIf="form.controls.userName.hasError('minlength')">
          {{ errorMessages.userName.minlength }}
        </mat-error>
        <mat-error *ngIf="form.controls.userName.hasError('pattern')">
          {{ errorMessages.userName.pattern }}
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="form.controls.email.hasError('required')">
          {{ errorMessages.email.required }}
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('email')">
          {{ errorMessages.email.email }}
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="form.controls.password.hasError('required')">
          {{ errorMessages.password.required }}
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('minlength')">
          {{ errorMessages.password.minlength }}
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field class="w-full mb-1">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        <mat-error *ngIf="form.controls.confirmPassword.hasError('required')">
          {{ errorMessages.confirmPassword.required }}
        </mat-error>
        <mat-error *ngIf="!form.controls.confirmPassword.hasError('required') && form.hasError('passwordMismatch')">
          {{ errorMessages.confirmPassword.passwordMismatch }}
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="w-full py-3 text-lg" [disabled]="form.invalid">Register</button>
    </form>

    <div class="relative flex items-center my-3">
      <div class="flex-grow border-t border-gray-200"></div>
      <span class="mx-4 text-gray-400 text-sm">or</span>
      <div class="flex-grow border-t border-gray-200"></div>
    </div>

    <button mat-stroked-button class="w-full py-3 text-base font-medium normal-case hover:bg-gray-50 transition">
      <div class="flex gap-1">
        <chat-google-icon [width]="20" [height]="20" />
        <div>Continue with Google</div>
      </div>
    </button>

    <div class="text-center text-sm text-gray-600 mt-4">
      Already have an account?
      <a routerLink="../login" class="text-blue-600 hover:underline">Login here</a>
    </div>

    <button mat-raised-button color="primary" (click)="showToast('success')">Primary</button>
    <button mat-raised-button color="accent" (click)="showToast('info')">Info</button>
    <button mat-raised-button color="warn" (click)="showToast('danger')">Danger</button>
    <button mat-raised-button color="accent" (click)="showToast('warning')">Warning</button>
  </div>
</div>
