<div class="flex flex-col justify-between md:flex-row min-h-dvh overflow-hidden">
  <!-- Left Side: Lottie Animation -->
  <div class="relative w-full md:w-1/2 h-64 md:h-auto">
    <ng-lottie [options]="options" class="absolute inset-0 w-full h-full" style="pointer-events: none"></ng-lottie>
  </div>

  <!-- Right Side: Register Form -->
  <div class="flex flex-col justify-center w-full lg:max-w-150 p-8 bg-white">
    <div class="text-center mb-6"> <!-- Changed from mb-5 -->
      <h2 class="text-2xl font-bold">Create a <span class="text-indigo-600">SyncChat</span> Account</h2>

      <p class="mt-1 text-gray-500 text-sm">Join the conversation in just a few steps.</p> <!-- Added subtitle -->
    </div>

    <form class="space-y-5">
      <mat-form-field class="w-full">
        <mat-label>Full Name</mat-label>
        <input matInput type="text" name="fullName" required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Full Name</mat-label>
        <input matInput type="text" name="fullName" required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" name="confirmPassword" required />
      </mat-form-field>

      <button mat-flat-button color="primary" class="w-full py-3 text-lg">Register</button>
    </form>

    <div class="relative flex items-center my-3">
      <div class="flex-grow border-t border-gray-200"></div>
      <span class="mx-4 text-gray-400 text-sm">or</span>
      <div class="flex-grow border-t border-gray-200"></div>
    </div>

    <button mat-stroked-button class="w-full py-3 text-base font-medium normal-case hover:bg-gray-50 transition">
      <div class="flex gap-1">
        <chat-google-icon [width]="20" [height]="20" />
        <div>Continue with Google</div>
      </div>
    </button>

    <div class="text-center text-sm text-gray-600 mt-4">
      Already have an account?
      <a routerLink="../login" class="text-blue-600 hover:underline">Login here</a>
    </div>
  </div>
</div>
