<div class="flex flex-col h-full">
  <!-- Sidebar Header -->
  <div class="flex items-center justify-between px-5 py-4">
    <span class="text-lg font-semibold">Chats</span>
  </div>

  <!-- Search & New Chat Button -->
  <div class="px-5 py-4 space-y-3 flex flex-row items-center gap-2">
    <mat-form-field appearance="outline" class="w-full h-10">
      <input matInput placeholder="Search chats" />
    </mat-form-field>

    <button mat-mini-fab color="primary" (click)="createNewChat()" aria-label="New Chat">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- Chat List -->
  <div class="flex-1 overflow-y-auto px-4 py-3 relative">
    @if(isConversationsLoading()) {
    <div class="absolute inset-0 flex items-center justify-center">
      <mat-progress-spinner color="accent" mode="indeterminate" diameter="40"></mat-progress-spinner>
    </div>
    } @else {
    <div *ngFor="let chat of conversationList()" (click)="selectChat(chat)" class="flex items-center gap-4 p-3 rounded-lg cursor-pointer
                  border border-transparent hover:bg-gray-100 hover:border-gray-200 transition h-18 mb-2 relative"
      [class.bg-gray-100]="selectedConversation()?.id === chat.id">

      <!-- Avatar -->
      <mat-icon class="text-gray-500 text-xl flex-shrink-0">account_circle</mat-icon>

      <!-- Chat Info -->
      <div class="flex flex-col overflow-hidden">
        <div class="text-base font-semibold text-gray-900 truncate max-w-xs">
          {{ chat.name }}
        </div>

        <div class="text-sm text-gray-600 truncate max-w-xs flex items-center gap-1"
          [ngClass]="chat.hasUnreadMessages ? 'text-blue-600 font-bold' : 'text-gray-500'">
          {{ chat.lastMessage }}
        </div>
      </div>

      <span *ngIf="chat.hasUnreadMessages" class="absolute top-3 right-3 w-2 h-2 rounded-full bg-blue-500"></span>

    </div>
    }
  </div>

  <!-- Logout -->
  <div class="px-5 py-4 flex flex-row justify-between">
    <div>

      @let state = (userDetailState$ | async)!;

      @if(state.isLoading) {
      <div>Loading user details...</div>
      } @else if(state.error) {
      <div>{{state.error }}</div>
      } @else if(state.data) {
      <div>Logged in as</div>
      <div class="font-semibold">{{ state.data.name }}</div>
      }

    </div>

    <button mat-raised-button (click)="logout()"
      class="flex items-center gap-2 text-sm text-gray-500 hover:text-red-600 normal-case">
      <mat-icon class="text-base">logout</mat-icon>
      Logout
    </button>
  </div>
</div>
