
<mat-accordion>
  <mat-expansion-panel expanded>

    <mat-expansion-panel-header>
      <mat-panel-title>Members</mat-panel-title>
    </mat-expansion-panel-header>


    <div class="p-2">
      @let state = this.conversationMemberState$ | async;

      @if (state?.isLoading) {
        <div class="flex justify-center py-2">
          <mat-progress-spinner mode="indeterminate" diameter="24" color="warn" strokeWidth="3"></mat-progress-spinner>
        </div>
      } @else if (state?.error) {
        <div class="flex justify-center py-2">
          <mat-icon color="warn">error</mat-icon>
          <span>{{ state?.error }}</span>
        </div>
      } @else if (state && state.data) {
        @for (member of state.data; track $index) {
          <div>
            <span>{{ member.name }}</span>
          </div>
        }
      }

    </div>

  </mat-expansion-panel>
</mat-accordion>
