<div class="flex flex-col justify-between md:flex-row min-h-screen overflow-hidden">
  <!-- Left Side: Lottie Animation -->
  <div class="relative w-full md:w-1/2 h-64 md:h-auto md">
    <ng-lottie [options]="options" class="absolute inset-0 w-full h-full" style="pointer-events: none"></ng-lottie>
  </div>

  <!-- Right Side: Login Form -->
  <div class="flex flex-col justify-center w-full lg:max-w-150 p-8 bg-white">
    <div class="text-center mb-5">
      <h2 class="text-2xl font-semibold">Login to SyncChat</h2>
    </div>

    <form>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" required />
      </mat-form-field>

      <button mat-flat-button color="primary" class="w-full py-3 text-lg">Login</button>

      <div class="relative flex items-center">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="mx-4 text-gray-500">or</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>

      <button mat-stroked-button color="primary" class="w-full py-3 text-base font-medium normal-case">
        Continue with Google
      </button>

      <div class="text-center text-sm text-gray-600 mt-4">
        Don't have an account?
        <a [routerLink]="['../register']" class="text-blue-600 hover:underline">Register here</a>
      </div>
    </form>
  </div>
</div>
