@use "themes/_tailwind.css";
@use '@angular/material' as mat;
@use '_theme-colors' as palettes;

// @import "tailwindcss/base";
// @import "./custom-base-styles.css";

// @import "tailwindcss/components";
// @import "./custom-components.css";

// @import "tailwindcss/utilities";
// @import "./custom-utilities.css";

/* You can add global styles to this file, and also import other style files */



@use "tailwindcss/preflight";
@tailwind utilities;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  // background-color: var(--background-color);
  background: radial-gradient(circle at center,
      #f5faff 0%,
      #eef7ff 60%,
      #e9f3ff 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  @apply antialiased;
}

// body {
//   background: linear-gradient(135deg, #f5faff 0%, #eef7ff 100%);
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   min-height: 100vh;
//   margin: 0;
//   font-family: 'Roboto', sans-serif;
// }

.mdc-notched-outline__notch {
  border-right: none;
}

@include mat.core();

$myapp-theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette, A400, A100, A700);
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-indigo-palette);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-light-theme((color: (primary: $myapp-theme-primary,
        accent: $myapp-theme-accent,
        warn: $myapp-theme-warn,
      )));

@include mat.all-component-themes($myapp-theme);
@include mat.form-field-density(-4);
@include mat.button-density(0);

:root {
  // --mat-form-field-subscript-margin-top: 30px;
}

/* Apply color to the snackbar surface inside the custom toaster class */

.custom-toaster {
  width: 50px !important;
}

.custom-toaster-success {
  --mdc-snackbar-container-color: #43a047;
  --mdc-snackbar-supporting-text-color: #fff;
}

.custom-toaster-info {
  --mdc-snackbar-container-color: #1976d2;
  --mdc-snackbar-supporting-text-color: #fff;
}

.custom-toaster-warning {
  --mdc-snackbar-container-color: #ffca28;
  --mdc-snackbar-supporting-text-color: #000 !important;
}

.custom-toaster-danger {
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-supporting-text-color: #fff;
}
