<h2 mat-dialog-title class="text-lg font-semibold">Add Members</h2>

<mat-dialog-content class="p-4 pt-0 space-y-4">

  <!-- Selected Users (Chips) -->
  <div *ngIf="selectedUsers().length" class="flex flex-wrap gap-2 mb-5">
    <mat-chip-listbox>
      <mat-chip *ngFor="let user of selectedUsers()" selected removable color="primary" (removed)="removeUser(user)">
        &#64;{{ user.userName}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-listbox>
  </div>

  <!-- Search Field -->
  <div class="flex items-center align-middle gap-2 pt-2">
    <mat-form-field subscriptSizing="dynamic" appearance="outline" class="flex-1">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" placeholder="Type to search..." autocomplete="off"
        (keydown.enter)="searchUser()" />
    </mat-form-field>

    <button mat-raised-button color="outline" (click)="searchUser()" [disabled]="searchText().length === 0">
      @if(isLoading()) {<mat-icon><mat-spinner diameter="18" color="accent"></mat-spinner></mat-icon>}
      @else {<mat-icon aria-hidden="false" aria-label="Search by username" fontIcon="search"></mat-icon>}
      Search
    </button>
  </div>


  <div class="max-h-96 overflow-auto space-y-1 mt-2" *ngIf="!isLoading()">
    <div *ngIf="userSearchResponse() as user" (click)="user.userID !== currentUserId && selectUser(user)"
      [class.cursor-default]="user.userID === currentUserId" [class.cursor-pointer]="user.userID !== currentUserId"
      [class.bg-gray-100]="user.userID === currentUserId"
      class="flex items-center gap-3 w-full px-3 py-2 rounded-lg hover:bg-gray-100 transition">

      <div class="w-8 h-8 flex items-center justify-center bg-gray-200 rounded-full text-gray-700 font-semibold">
        {{ user.name.charAt(0).toUpperCase() }}
      </div>

      <span class="text-sm font-medium text-gray-800">
        {{ user.name }}
      </span>

      <span *ngIf="user.userID === currentUserId" class="text-xs text-gray-500 ml-1">(You)</span>
      <span *ngIf="isUserSelected()" class="text-xs text-gray-500 ml-1">(Already added)</span>
      <span *ngIf="selectedUserAlreadyMember()" class="text-xs text-gray-500 ml-1">(Already member)</span>
    </div>

    <div *ngIf="userSearchResponse() === null" class="text-sm text-gray-500 p-3">
      No user found.
    </div>
  </div>



</mat-dialog-content>

<mat-dialog-actions align="end" class="p-4 pt-0">
  <button mat-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button mat-flat-button color="primary" [disabled]="saveInProgress() || !selectedUsers().length" (click)="onSave()">

    @if(saveInProgress()) {
    <mat-icon><mat-spinner diameter="18"></mat-spinner></mat-icon>
    }
    @else {
    <mat-icon *ngIf="!saveInProgress()">add</mat-icon>
    }

    Add
  </button>
</mat-dialog-actions>
